
body{margin: 0 !important;}
.impowerBox{width:175px !important;}
.impowerBox .qrcode {width:175px !important;margin:0 !important;}
.impowerBox .title {display: none !important;}
.impowerBox .info {display: none !important;}
.status_icon {display:none !important;}
.impowerBox .status {text-align: center !important;}
